{% if header_menu %}
	<ul class="flex gap-4">
	{% for item in header_menu.items %}
		<li class=" {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.get_children %}
				<ul class="p">
				{% for child in item.get_children %}
					<li class="">
						<a class="nav-link" href="{{child.link}}">{{child.title}}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
