{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
		{% block head %}
	{% endblock %}
	</head>

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}

		<header class="p-4 h-16">
			{% block header %}
				<div class="flex justify-between">
					{% include "partials/header.twig" %}
				</div>
			{% endblock %}
		</header>

		<main id="" role="main" class="h-full p-16">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class=" {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		<footer class="p-4 h-16">
			{% block footer %}
				<div class="">
					{% include 'footer.twig' %}
				</div>
			{% endblock %}
		</footer>

		{{ function('wp_footer') }}
	</body>
</html>
