{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
		{% block head %}
	{% endblock %}
	</head>

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}

		<main id="" role="main" class="h-screen">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<section class=" {{sidebar_class}}">
				{% block content %}
					{{ post.content }}
				{% endblock %}
			</section>
			{% if sidebar %}
				<aside class="">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{{ function('wp_footer') }}
	</body>
</html>
